.header{
    text-align: center;
    font-family: arial;
    color: red;
}

.arial{
    font-family: arial;
    margin: 70px;
}

.image_view{
    float: left;
}

#mainbio{
    margin= 70px;
}

.footer{
    font-size: smaller;
    color: gray;
}
